aside {
  padding: 15px;
}

aside .color-container {
  display: grid;
  grid-template-areas:
    "formHeader"
    "formContent"
    "formFooter";
  grid-template-rows: 1fr auto 1fr;
  min-height: 500px;
  max-height: 85dvh;
  height: 100%;
  max-width: 250px;
  width: 100%;
  position: relative;
  border: 1px solid black;
  background-color: #f8f8ff;
  box-shadow: 5px 5px 15px black;
  border-radius: 20px;
  padding: 0px;
  overflow: hidden;
}

aside .color-container .color-header,
aside .color-container .color-footer {
  background-color: #e9ecef;
  padding: 0 10px;
}

aside .color-container .color-header {
  grid-area: formHeader;
}

aside .color-container .color-header p {
  font-size: 0.7rem;
}

aside .color-container .color-footer button {
  width: 100%;
}

aside .color-container .form-container {
  grid-area: formContent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow-y: scroll;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 10px;
}

aside .color-container fieldset {
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
  width: 100%;
}

aside .color-container fieldset legend {
  font-size: 1rem;
  font-weight: bolder;
}

aside .color-container .input-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

aside .color-container .color-footer {
  grid-area: formFooter;
  padding: 10px;
}

@media only screen and (min-width: 1024px) {
  aside .color-container {
    position: fixed;
  }
}
