.form-container form {
  gap: 10px;
}

.form-container form .form-item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.form-container form .form-item input {
  border-radius: 10px;
  padding: 5px;
  background-color: #e7e4e4;
  width: 100%;
  border-style: solid;
  outline: none;
}

.form-container form .form-item input[type="submit"] {
  margin-top: 20px;
}

.form-container form .form-item span {
  font-size: 3rem;
  line-height: 1;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  section .form-container form {
    padding: 40px;
  }

  .form-container form .form-item {
    max-width: 100%;
  }
}
