/* start
CSS custom reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
/* end
CSS custom reset
*/

main {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 50px auto 20px;
  grid-template-columns: minmax(150px, 30%) auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";

  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

section {
  grid-area: main;
  padding: 0 20px;
}

footer {
  grid-area: footer;
}

input[type="text"],
input[type="color"] {
  border-radius: 10px;
  padding: 5px;
  background-color: #e7e4e4;
  width: 100%;
}

button {
  border-radius: 7px;
}

button:hover {
  background-color: #c8c5c5;
}

label {
  font-size: 0.8rem;
}

header,
footer {
  background-color: #6c757d;
  height: fit-content;
}
header {
  padding: 20px;
}

header h1 {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

footer span:first-child,
footer span:last-child {
  width: 200px;
}

footer span:last-child {
  display: flex;
  justify-content: end;
}

footer span:last-child a {
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.cardContainer,
.form-container {
  width: 100%;
  min-height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}

.form-container form,
.cardContainer .cardBlock {
  max-width: 400px;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (min-width: 1024px) {
  main {
    grid-template-columns: 0 auto;
  }

  .form-container form,
  .cardContainer .cardBlock {
    /* max-width: 800px; */
    width: 100%;
    min-width: 500px;
  }
}
