.cardContainer .cardBlock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  border-radius: 20px;
  font-size: 3rem;
}
